<form method="post" action="{{ path('npc_delete', {'id': npc.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce PNJ ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ npc.id) }}">
    <button class="blue-button">Supprimer</button>
</form>
