{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}


<form class="quick-search" action="">
    <input class="quick-search-input" type="text" placeholder="Recherche rapide">
</form>

<section id="index-new-list">

<div class="index-new-sublist">
    <div class="index-new-title-container">
        <h3>Dernières tables aléatoires</h3>
        <div class="index-new-underline"></div>
    </div>

    {% for i in 0..3 %}
    <article class="card-container">
        <img src="{{ asset('build/img/cardExample.png') }}" />
    </article>
    {% endfor %}
</div>

<div class="index-new-sublist">
    <div class="index-new-title-container">
        <h3>Dernières amorces</h3>
        <div class="index-new-underline"></div>
    </div>

    {% for i in 0..3 %}
    <article class="card-container">
        <img src="{{ asset('build/img/cardExample.png') }}" />
    </article>
    {% endfor %}
</div>

</section>
{% endblock %}
