{% extends 'base.html.twig' %}

{% block title %}New Intrigue{% endblock %}

{% block body %}
    <h1>Create new Intrigue</h1>

    {{ include('intrigue/_form.html.twig') }}

    <a href="{{ path('intrigue_index') }}">back to list</a>
{% endblock %}
