body {
    margin:0;
    background-image:url("../../img/background.png");
    color:$white;
    font-family:Helvetica, sans-serif
}

#main-page-container {
    width:100%;
    margin:auto;
    position:relative;
}

main {
    position:relative;
    margin-top:-6rem;
    background-color:$primary-green;
    z-index:0;
    padding-bottom:23rem;
}

.blue-button {
    background-color: $cyan;
    border-radius:5px;
    color:$white;
    border:none;
    cursor:pointer;
    padding:0.5rem 1rem;
    font-size:1rem;
    font-family:"MoonFirefly";
    transition:all 0.2s;
}

.blue-button:hover {
    color:$cyan;
    background-color:$white;
    box-shadow: $white 0px 0 10px;
}

.svg-bot {
    filter: invert(10%) sepia(5%) saturate(625%) hue-rotate(181deg) brightness(96%) contrast(91%);
    width:100%;
    position:absolute;
    bottom:0px;
    margin-bottom:10rem;
    z-index:0;
}

.underline{
    height:1px;
    width:60%;
    background-color:$white;
    margin:1rem auto;
}

.show-style {
    white-space: pre-wrap;
}

@media screen and (min-width:$lg) {

    main{
        padding-bottom:54rem;
    }
}