.list-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:1rem;

    .button-container{
        padding-top:1rem;
    }
}

.list-header {
    text-align:center;
    font-family:"MoonFirefly";
    padding-bottom:2rem;
    font-size:2rem;
}

.list-button-flex {
    display:flex;
    justify-content:center;
    gap:2rem;
    padding-bottom:3rem;
}