.list-main-flex {
    display:flex;
    flex-direction:row;
    justify-content: space-between;

    .list-container {
        display:flex;
        flex-direction:column;
        align-items:center;
        flex-wrap:wrap;
        padding:1rem;
        width:70%;

        .list-title {
            font-size:1.25rem;
            font-family:"MoonFirefly";
            margin-top:1rem;
        }

        .list-subset {
            display:flex;
            flex-direction:row;
            justify-content:space-evenly;
            flex-wrap:wrap;
            gap:1rem;
        }

        .list-divider {
            display:flex;
            flex-direction:column;
            align-items:center;
            margin: 1rem 0rem;
            width:100%;
        }
    }

    .search-sidebar {
        width:30%;
        background-color: $lighter-green;
        padding:1rem;

        .sidebar-subset {
            display:flex;
        }

        .search-container {
            display:flex;
            justify-content:start;
            margin:1rem 0rem;

            .search-input {
                line-height:2rem;
                font-size:1rem;
                border:none;
                width:80%;
            }
    
            .search-button {
                background-color: $cyan;
                border-radius:0px 5px 5px 0px;
                color:$white;
                border:none;
                padding:0.5rem;
                cursor:pointer;
                transition:all 0.2s;
    
                &:hover {
                    color:$cyan;
                    background-color:$white;
                    box-shadow: $white 0px 0 10px;
                }
            }
        }

        .radio-container {
            display:flex;
            flex-direction:column;
            gap:1rem;
            font-size:1rem;
            margin-bottom:1rem;

            span {
                font-family:"MoonFirefly";
                margin-bottom:0.5rem;
            }
        }

        .checkbox-container {
            display:flex;
            flex-direction:column;
            gap:1rem;
            font-size:1rem;

            span {
                font-family:"MoonFirefly";
                margin:1rem 0rem 0.5rem 0rem;
            }
        }
    }

}

.creator-name {
    text-align:center;
    margin-top:0.2rem;
}

.list-header {
    text-align:center;
    font-family:"MoonFirefly";
    padding-bottom:2rem;
    font-size:2rem;
}

.list-button-flex {
    display:flex;
    justify-content:center;
    gap:2rem;
    padding-bottom:3rem;
    flex-wrap:wrap;

    .blue-button {
        width:25%;
        text-align:center;
        padding:1rem;
        font-size:1.4rem;
    }
}

@media screen and (min-width:$lg) {
    .list-button-flex {
        flex-wrap:nowrap;

        .blue-button {
            width:auto;
            font-size:1rem;
        }
    }
    .search-input {
        line-height:1rem !important;
        font-size:1rem !important;
    }

    .search-button {
        line-height:1rem;
    }

    .radio-container, .checkbox-container {
        font-size:1rem !important;
    }

}