.show-title {
    font-family:"MoonFirefly";
    text-align:center;
    margin-bottom:2rem;
}

.show-main-flex {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;

    .show-sub-flex {
        width:90%;
        background-image:url("../../img/detailsBG.png");
        background-size:cover;
        border-radius:25px;
        padding:1rem;
        min-height:200px;

        p {
            font-size:1.8rem;
            // line-height:1.7rem;
        }

        .show-subset-title{
            font-family:"MoonFirefly";
            font-size:2rem;
            margin-left:2rem;
            margin-bottom:1rem;
            margin-top:2rem;
        }
    }
}

.connexion-flex {
    background-image:url("../../img/detailsBGSide.png");
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:25px;

    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;

    width:90%;
    margin:auto;

    padding:1rem;

    .connexion-element {
        width:50%;

        .element-title {
            font-size:1rem;
            font-family:"MoonFirefly";
            margin-bottom:1rem;
        }

        .element-name {
            color:$cyan;
        }

        .element-list-container {
            display:flex;
            flex-direction:column;
            min-height:10rem;
        }

        .small-button {
            align-self:flex-start;
        }

        .formText {
            align-self:flex-start;
            margin-top:1rem;
        }
    }
}

.showTableContainer {
    display:flex;
    flex-direction:column;
    background-image:url("../../img/detailsBG.png");
    width:90%;
    margin:auto;
    background-size:cover;
    border-radius:15px;
    gap:0.5rem;
    padding:1rem 0rem;

    .showTableEntry{
        display:flex;
        justify-content:space-between;
        line-height:1rem;
        font-size:1rem;
        padding: 1rem 1rem;

        p {
            width:50%;
        }
    }
}

.show-table-roll {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 4rem 0rem;
}

.rollResultTitle {
    font-family:"MoonFirefly";
    margin:1rem;
}

.show-button-flex {
    display:flex;
    justify-content:center;
    gap:1rem;
    margin-top:1rem;

    .blue-button {
        font-size:2rem;
    }
}

#show-roll-button {
    font-size:3rem;
    padding:1rem;
}

@media screen and (max-width:$sm) {
    .show-main-flex {
        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
    
        .show-sub-flex {
    
            p {
                font-size:1rem;
            }
    
            .show-subset-title{
                font-size:1rem;
            }
        }
    }
}

.blue-button {
    font-size:1rem !important;
}

@media screen and (min-width:$lg) {
    .show-main-flex {
        flex-direction:row;
    }

    .show-sub-flex {
        height:560px;
        padding:0rem !important;
        width:50% !important;
        padding:2rem !important;

        p {
            font-size:1rem !important;
        }
    }

    .showTableEntry {
        line-height:1rem !important;
        font-size:1rem !important;
    }
    .show-button-flex {
        .blue-button {
            font-size:1rem;
        }
    }

    #show-roll-button {
    font-size:1rem;
    padding:1rem;
    }

    .blue-button {
        font-size:1rem;
    }
}