<footer id="main-footer">

    <div class="footer-container">
        <ul class="footer-list">
        </ul>
    </div>

<div class="floating-title">
    <div class="footer-title">Roll&nbsp;For&nbsp;Many&nbsp;Things</div>
    <h2 class="changing-title"></h2>
</div>
    
</footer>


