<header id="main-header">
    <nav>
        <ul class="main-header-list">
            <li>
                <ul class="main-header-sublist">
                    <li><a href="#">Tables aléatoires</a></li>
                    <li><a href="#">Amorces</a></li>
                    <li><a href="#">F.A.Q</a></li>
                </ul>
            </li>
            <li>
                <ul  class="main-header-sublist">
                    <li><a href="#">Mes notes</a></li>
                    <li><a href="#">Se connecter</a></li>
                    <li><a href="#">S'inscire</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>Roll&nbsp;For&nbsp;Many&nbsp;Things</h1>
    <h2 class="changing-title"></h2>
    <img class="svg-top" src="{{ asset('build/img/transition.svg') }}" />
</header>
