<form method="post" action="{{ path('table_delete', {'id': table.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette table ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ table.id) }}">
    <button class="blue-button">Supprimer</button>
</form>
